<ion-header class="app-header head-added-successfully">
	<ion-toolbar class="app-header-toolbar"></ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-added-successfully">
	<div class="app-added-successfully h-100 w-100 d-flex align-items-center justify-content-center">
		<div class="app-added-successfully-inner d-flex flex-wrap align-items-center h-100 w-100">
			<div class="main w-100 text-center">
				<ion-img src="assets/images/icon-check.png"></ion-img>
				<p class="head">Success!</p>
				<p class="desc">Your phone has been successfully added.</p>
				<ion-button type="submit" expand="block" color="primary" class="app-def-btn"
					(click)="goToStepOne($event)">
					Got it !
				</ion-button>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer class="app-footer foot-added-successfully">
	<ion-toolbar class="app-footer-toolbar"></ion-toolbar>
</ion-footer>