@font-face {
    font-family: 'proxima-thin';
    src: url('./assets/fonts/proxima_ssv/ProximaNova-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-regular';
    src: url('./assets/fonts/proxima_ssv/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-bold';
    src: url('./assets/fonts/proxima_ssv/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-black';
    src: url('./assets/fonts/proxima_ssv/ProximaNova-Black.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-extrabold';
    src: url('./assets/fonts/proxima_ssv/ProximaNova-Extrabold.otf') format('opentype');
}