.app-added-successfully {
    ion-img {
        width: 120px;
        margin: 0 auto 15px;
    }

    .head {
        font-family: proxima-bold, sans-serif;
        font-size: 22px;
        margin-bottom: 6px;
        color: #222;
    }

    .desc {
        margin-bottom: 20px;
        font-size: 14px;
        color: #888;
    }

    ion-button {
        font-size: 16px;
        height: 45px;
    }
}