<div [ngClass]="(accordLook == 'look-one') ? 'app-accordian look-one' : 'app-accordian look-two'">
	<div class="app-accordian-heading d-flex align-items-center">
		<div class="text-center text-capitalize">{{accordHeader}}</div>
		<ion-button (click)="toggleContent($event)">
			<ion-icon [attr.name]="(accordIsShow) ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
		</ion-button>
	</div>
	<div class="app-accordian-content" [class.d-none]="!accordIsShow">
		<div class="app-accordian-content-inner">
			<ng-content></ng-content>
		</div>
	</div>
</div>