<ion-header class="app-header head-otp-verification">
	<ion-toolbar class="app-header-toolbar">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>OTP</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-otp-verification">
	<div class="app-otp verificaton h-100 w-100 d-flex align-items-center justify-content-center">
		<div class="app-otp-main w-100">
			<div class="otp-img-sec text-center">
				<ion-img [src]="mobileIcon"></ion-img>
				<p class="head">OTP Verification</p>
				<p class="desc">
					we will send you
					<span class="text" style="font-weight: bold; color: #000">+91 {{userPhone}}</span>
				</p>
			</div>
			<div class="otp-img-form">
				<form action="#" id="otpForm" (submit)="handleSubmit($event)" [formGroup]="otpVerificationForm">
					<ion-grid class="app-grid-gap-5">
						<ion-row>
							<ion-col size="3">
								<ion-item class="form-group text-center">
									<ion-input type="tel" name="mobile-no" maxlength="1" #inputOneField
										[autofocus]="true" (ionChange)="handleChangeInputOne($event)"
										formControlName="fieldOne">
									</ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="3">
								<ion-item class="form-group text-center">
									<ion-input type="tel" name="mobile-no" maxlength="1" #inputTwoField
										(ionChange)="handleChangeInputTwo($event)" formControlName="fieldTwo">
									</ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="3">
								<ion-item class="form-group text-center">
									<ion-input type="tel" name="mobile-no" maxlength="1" #inputThreeField
										(ionChange)="handleChangeInputThree($event)" formControlName="fieldThree">
									</ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="3">
								<ion-item class="form-group text-center">
									<ion-input type="tel" name="mobile-no" maxlength="1" #inputFourField
										formControlName="fieldFour">
									</ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="12">
								<div class="send-otp text-center">
									<p>
										Don’t receive the OTP?
										<span class="send-otp-again text-uppercase">resend otp</span>
									</p>
								</div>
								<ion-button type="submit" color="primary" expand="block" class="app-def-btn def-height"
									[disabled]="otpVerificationForm.invalid">
									<span>Verify and Proceed</span>
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</form>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer class="app-footer foot-otp-verification">
	<ion-toolbar class="app-footer-toolbar"></ion-toolbar>
</ion-footer>